# Folders
_temp_source/
.vscode/
examples/
sql/
xml/
scripts/
x_attending_wallboard/
z_data_dumps/

# File types
*.csv
*.xlsx
*.docx
*.txt
*.bak

# Other
admin/reporting/OLD/
users/OLD/
reporting/OLD/
GIT_CHEATSHEET.md
CHANGELOG.md
DB_MIGRATIONS.md
ADMIN_PERMISSIONS_PLAN.md
DEPLOY_TASKS.md
testapp.cfm

_published_images/*
!_published_images/.gitkeep

_temp_variants/*
!_temp_variants/.gitkeep
