# Data files with PII
xml/
sql/OLD/bulk_exclusions_adjunctFaculty.cfm
sql/new-insert-error.txt
sql/OLD/bulk_exclusions_alumni.cfm
sql/OLD/bulk_exclusions_current_students.cfm
sql/OLD/bulk_exclusions_faculty.cfm
sql/OLD/bulk_exclusions_retirees.cfm
sql/OLD/bulk_exclusions_staff.cfm
classof2026-1.csv
classof2026-honors.csv
classof2026.csv
classOf2026.xlsx
edit_form_fields.csv
legacy_datasource_audit.txt
_published_images/andrewm_m_archila_59_src7_web_listing.jpg
_published_images/andrewm_m_archila_59_src8_web_profile.jpg
_published_images/andrewm_m_archila_59_src8_web_thumb.jpg
_published_images/andrewm_m_archila_59_web_listing.jpg
_published_images/andrewm_m_archila_59_web_profile.jpg
_published_images/andrewm_m_archila_59_web_thumb.jpg
_published_images/astha_ahuja_3656_src18_kiosk_roster.jpg
_published_images/astha_ahuja_3656_src18_web_thumb.jpg
_published_images/earl_l_smith_3649_src11_kiosk_non-grid.jpg
_published_images/earl_l_smith_3649_src11_web_listing.jpg
_published_images/earl_l_smith_3649_src11_web_profile.jpg
_published_images/earl_l_smith_3649_src11_web_thumb.jpg
_published_images/harlene_bains_237_src22_kiosk_roster.jpg
_published_images/harlene_bains_237_src22_web_profile.jpg
_published_images/harlene_bains_237_src22_web_thumb.jpg
_published_images/ikram_ahmad_234_src17_web_listing.jpg
_published_images/ikram_ahmad_234_src17_web_profile.jpg
_published_images/ikram_ahmad_234_src17_web_thumb.jpg
_published_images/jessica_alvarado_235_src20_kiosk_roster.jpg
_published_images/jessica_alvarado_235_src20_web_profile.jpg
_published_images/jessica_alvarado_235_src20_web_thumb.jpg
_published_images/jessica_baca_236_src21_web_thumb.jpg
_published_images/joshua_alegria_141_src19_kiosk_roster.jpg
_published_images/joshua_alegria_141_src19_web_thumb.jpg
_published_images/mahlet_adugna_159_src12_web_listing.jpg
_published_images/mahlet_adugna_159_src12_web_profile.jpg
_published_images/mahlet_adugna_159_src12_web_thumb.jpg
_published_images/marisa_aguilar_233_src16_web_listing.jpg
_published_images/marisa_aguilar_233_src16_web_profile.jpg
_published_images/marisa_aguilar_233_src16_web_thumb.jpg
_published_images/michael_d_twa_100_kiosk_dean_secondary.jpg
_published_images/michael_d_twa_100_src6_web_listing.jpg
_published_images/michael_d_twa_100_web_listing.jpg
_published_images/michael_d_twa_100_web_profile.jpg
_published_images/michael_d_twa_100_web_thumb.jpg
_published_images/myriam_achour_232_src13_web_listing.jpg
_published_images/myriam_achour_232_src13_web_profile.jpg
_published_images/myriam_achour_232_src13_web_thumb.jpg
_published_images/myriam_achour_232_src15_web_listing.jpg
_published_images/myriam_achour_232_src15_web_profile.jpg
_published_images/myriam_achour_232_src15_web_thumb.jpg
_published_images/raymond_a_applegate_55_src10_web_listing.jpg
_published_images/raymond_a_applegate_55_src10_web_profile.jpg
_published_images/raymond_a_applegate_55_src10_web_thumb.jpg
_published_images/vallabh_das_119_src9_web_listing.jpg
_published_images/vallabh_das_119_src9_web_profile.jpg
_published_images/vallabh_das_119_src9_web_thumb.jpg
_temp_source/0908796.jpg
_temp_source/1238305.jpg
_temp_source/1330734.jpg
_temp_source/1432582.jpg
_temp_source/1558363.jpg
_temp_source/1580329.jpg
_temp_source/1822322.jpg
_temp_source/1875337.jpg
_temp_source/1975970.jpg
_temp_source/2027226.jpg
_temp_source/2059461.jpg
_temp_source/2085463.jpg
_temp_source/2316971.jpg
_temp_source/2414105.jpg
_temp_source/2414124.jpg
_temp_source/2414701.png
_temp_source/8011038.jpg
_temp_source/amarchi2_512x512.jpg
_temp_source/amarchi2_600x600.jpg
_temp_source/Applegate.jpg
_temp_source/Applegate2.jpg
_temp_source/Archila.jpg
_temp_source/Archila2.jpg
_temp_source/AsthaAhuja.jpg
_temp_source/Bergmanson.jpg
_temp_source/Bergmanson3.jpg
_temp_source/Bergmanson4.jpg
_temp_source/Berntsen.jpg
_temp_source/Berntsen2.jpg
_temp_source/Das.jpg
_temp_source/Das2.jpg
_temp_source/david-berntsen-spiff.jpg
_temp_source/Dean-Earl-Smith.jpg
_temp_source/mdtwa_512x768_special.jpg
_temp_source/mdtwa_600x600.jpg
_temp_source/mdtwa-1.jpg
_temp_source/mdtwa-2.jpg
_temp_variants/user_236_src21_KIOSK_ROSTER.jpg
_temp_variants/user_236_src21_WEB_PROFILE.jpg
admin/reporting/OLD/classof2026-degrees-import.cfm
admin/reporting/OLD/classof2026-honors-import.cfm
admin/reporting/OLD/classof2026-import.cfm
admin/reporting/OLD/CS-alumni-bulk-import.cfm
admin/reporting/OLD/CS-bulk-import.cfm
admin/reporting/OLD/CS-migration.cfm
admin/reporting/OLD/OD-student-audit.cfm
sql/Full_DB_Script_error.txt
sql/alter_student_profile.sql
sql/alter_user_addresses.sql
sql/alter_users_add_dob_gender.sql
sql/bulk_exclusions_alumni.sql
sql/bulk_exclusions_retirees.sql
sql/create_bulk_exclusion_runs.sql
sql/create_bulk_exclusion_types.sql
sql/create_grad_migration.sql
sql/create_import_runs.sql
sql/create_user_alias.sql
sql/create_user_bio.sql
sql/create_user_degrees.sql
sql/create_user_emails.sql
sql/create_user_phone.sql
sql/drop_email_secondary.sql
sql/fix_name_capitalization.sql
sql/full_db_script.sql
sql/generate_full_db_script_v2_backup.sql
sql/generate_full_db_script.sql
sql/generate_tables_Scripts.sql
sql/migrate_secondary_emails.sql
sql/migrate_user_aliases.sql
sql/multi_source_variants.sql
examples/attending/attending.xml
examples/attending/index.html
