# Folders
_published_images/
_temp_source/
_temp_variants/
.vscode/
examples/
sql/
xml/
scripts/

# File types
*.csv
*.xlsx
*.docx
*.txt
*.bak

# Other
admin/reporting/OLD/
users/OLD/
reporting/OLD/
GIT_CHEATSHEET.md
ADMIN_PERMISSIONS_PLAN.md
DEPLOY_TASKS.md
testapp.cfm
